*{
  margin:0;
  padding:0;
}


body{
  background-color: aqua;
  text-align:center;
}

.container{
  background-color: white;
  width:80vh;
  height:80vh;
  margin: 0 auto;
  margin-top:20vh;
  border-radius:15%;
  box-shadow: 10px 10px 20px rgba(204, 21, 21, 0.982);
  
  
}
.container1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:20vmin;
}


img {
  width:10vmin;
  margin-left:2vmin;
}

.container2{
  margin-left:11vmin;
  background-color: rgb(226, 219, 219);
  width:65vmin;
  
  
  border:none;
  gap: 5.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10vmin;
  border-radius:15px;
}
input{
  border:none;
  outline:none;
  background-color: rgba(226, 219, 219, 0.324);
  color:rgb(6, 6, 6);
  margin-left:1vmin;
  width:40vmin;
  font-size: 15px;
  border-radius:15px;
}
button{
  border:none;
  outline:none;
  background-color: rgb(232, 78, 47);
  width:20vmin;
  height:5vmin;
  border-radius:15px;
  cursor: pointer;
  color:white;
}
.container3{
  margin-top:8vmin;
  margin-right:45vmin;
  border:20px;
  width:75vmin;
  border-color:black;
  
}
li{
  list-style:none;
  font-size:20px;
  margin-bottom:4vmin;
  cursor:pointer;
  position:relative;
}
li::before{
  content:'';
  position:absolute;
  height:3.4vmin;
  width:3.4vmin;
  background-image: url(check.jpg);
  background-size:cover;
  background-position: center;
  left:10px;
  
}
.checked{
  color:#555;
  text-decoration: line-through;

}
.checked::before{
  background-image: url(uncheck.jpg);
}
li span{
  position:absolute;
  right:0;
  width:4.3vmin;
  height:4.3vmin;
  font-size:1.3em;
  margin-left:10vmin;
  color:black;
  text-align:center;

}
li span:hover{
  background:rgb(232, 78, 47);
  color:white;
}